<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="robotiq_gripper_ros2_control" params="
        name
        prefix
        sim_gazebo:=false
        sim_isaac:=false
        isaac_joint_commands:=/isaac_joint_commands
        isaac_joint_states:=/isaac_joint_states
        use_fake_hardware:=false
        mock_sensor_commands:=false
        com_port:=/dev/ttyUSB0
        gripper_speed_multiplier:=1.0
        gripper_force_multiplier:=0.5
        gripper_max_speed:=0.250
        gripper_max_force:=125.0
        gripper_closed_position:=0.695">

        <ros2_control name="${name}" type="system">
            <!-- Plugins -->
            <hardware>
                <xacro:if value="${sim_isaac}">
                    <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
                    <param name="joint_commands_topic">${isaac_joint_commands}</param>
                    <param name="joint_states_topic">${isaac_joint_states}</param>
                </xacro:if>
                <xacro:if value="${sim_gazebo}">
                    <plugin>ign_ros2_control/IgnitionSystem</plugin>
                </xacro:if>
                <xacro:if value="${use_fake_hardware}">
                    <plugin>mock_components/GenericSystem</plugin>
                    <param name="mock_sensor_commands">${mock_sensor_commands}</param>
                    <param name="state_following_offset">0.0</param>
                </xacro:if>
                <xacro:unless value="${use_fake_hardware or sim_gazebo or sim_isaac}">
                    <plugin>robotiq_driver/RobotiqGripperHardwareInterface</plugin>
                    <param name="gripper_closed_position">${gripper_closed_position}</param>
                    <param name="COM_port">${com_port}</param>
                    <param name="gripper_speed_multiplier">${gripper_speed_multiplier}</param>
                    <param name="gripper_force_multiplier">${gripper_force_multiplier}</param>
                    <param name="gripper_max_speed">${gripper_max_speed}</param>
                    <param name="gripper_max_force">${gripper_max_force}</param>
                </xacro:unless>
            </hardware>

            <!-- Joint interfaces -->
            <!-- With Gazebo or Hardware, they handle mimic joints, so we only need this command interface activated -->
            <joint name="${prefix}finger_joint">
                <command_interface name="position" />
                <state_interface name="position">
                    <param name="initial_value">${gripper_closed_position}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <!-- When simulating we need to include the rest of the gripper joints -->
            <xacro:if value="${use_fake_hardware or sim_isaac or sim_gazebo}">
                <joint name="${prefix}left_inner_knuckle_joint">
                    <xacro:unless value="${sim_gazebo}">
                        <state_interface name="position"/>
                        <state_interface name="velocity"/>
                    </xacro:unless>
                </joint>
                <joint name="${prefix}left_inner_finger_joint">
                    <xacro:unless value="${sim_gazebo}">
                        <state_interface name="position"/>
                        <state_interface name="velocity"/>
                    </xacro:unless>
                </joint>
                <joint name="${prefix}right_outer_knuckle_joint">
                    <xacro:unless value="${sim_gazebo}">
                        <state_interface name="position"/>
                        <state_interface name="velocity"/>
                    </xacro:unless>
                </joint>
                <joint name="${prefix}right_inner_knuckle_joint">
                    <xacro:unless value="${sim_gazebo}">
                        <state_interface name="position"/>
                        <state_interface name="velocity"/>
                    </xacro:unless>
                </joint>
                <joint name="${prefix}right_inner_finger_joint">
                    <xacro:unless value="${sim_gazebo}">
                        <state_interface name="position"/>
                        <state_interface name="velocity"/>
                    </xacro:unless>
                </joint>
            </xacro:if>

            <!-- Only add this with fake hardware mode -->
            <xacro:unless value="${sim_gazebo or sim_isaac}">
                <gpio name="reactivate_gripper">
                    <command_interface name="reactivate_gripper_cmd" />
                    <command_interface name="reactivate_gripper_response" />
                </gpio>
            </xacro:unless>

        </ros2_control>
    </xacro:macro>

</robot>
