<?xml version="1.0"?>
<robot name="robotiq_arg2f_140_model" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_arg2f_140_model_macro.xacro" />
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_gripper.ros2_control.xacro" />
  <link name="world" />
  <xacro:robotiq_2f_140 prefix="" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:robotiq_2f_140>
  <xacro:robotiq_gripper_ros2_control name="robotiq_gripper_hardware_interface" prefix=""/>
</robot>
