<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="robotiq_gripper">
    <!-- parameters -->
    <xacro:arg name="com_port" default="10000" />
    <xacro:arg name="use_fake_hardware" default="false" />

    <!-- Import macros -->
    <xacro:include filename="$(find robotiq_description)/urdf/robotiq_gripper_macro.urdf.xacro" />

    <link name="world" />
    <xacro:robotiq_gripper
      parent="world"
      use_fake_hardware="$(arg use_fake_hardware)"
      com_port="$(arg com_port)"
      prefix="">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:robotiq_gripper>
</robot>